# --- Віртуальне середовище ---
# Ігноруємо папку з віртуальним середовищем. ЦЕ НАЙВАЖЛИВІШЕ!
.venv/
venv/
env/

# --- Кеш та скомпільовані файли Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Папки дистрибутивів ---
build/
dist/
*.egg-info/
sdist/

# --- Файли, що генеруються парсером (ваші правила, все правильно!) ---
*.csv
*.docx
*.xlsx
*.json
*.html
*.png
debug_page.html

# --- Файли бібліотек та залежностей (ваші правила) ---
pip-wheel-metadata/

# --- Локальні налаштування та секрети ---
# Дуже важливо, щоб файли з ключами не потрапили в Git
.env
local_settings.py

# --- Файли тестування (ваші правила, все правильно!) ---
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml

# --- Файли IDE (редакторів коду) ---
# Для VS Code
.vscode/
# Для PyCharm
.idea/

my_cloudparser/swapi_parser.py